.title {
    font-family: sans-serif;
    color: #17375e;
    text-align: center;
}

.tabContainer {
    width: 100%;
    height: 350px;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: #b9cde5;
}

.tabContainer .tabPanel {
    border-top: 0.5em solid #dce6f2;
    height: 85%;
    color: black;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    display: none;
}

.dataContainer {
    font-size: 1em;
    height: 100%;
    width: 100%;
    padding: 8px;
    text-align: center;
    background: #ffffff;
    box-sizing: border-box;
    font-family: sans-serif;
    grid-template-columns: auto-fit, minmax(60px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#inputParameters {
    padding: 10px;
}

#inputParameters {
    padding: 10px;
}

.fov {
    padding: 10px;
    margin: 10px;
}

.natoTarget {
    margin: 10px;
    padding: 10px;
}

.humanTarget {
    margin: 10px;
    padding: 10px;
}

.objectTarget {
    margin: 10px;
    padding: 10px;
}

.settings .parameters {
    margin: 10px;
    padding: 10px;
}

.settings .linePairs {
    margin: 10px;
    padding: 10px;
}

.settings .targetSize {
    margin: 10px;
    padding: 10px;
}

.infoContainer {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background: #dce6f2;
    border: 1px solid #000000;
    border-radius: 10px;
}

.infoTitle {
    text-align: left;
    margin-bottom: 1em;
}

.parameterContainer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}

img {
    width: 1.2em;
    height: 1.2em;
    padding: 0.3em;
    border-radius: 50%;
    border: 1px solid #000000;
    background-image: radial-gradient(#aac0e8, #b9cde5, #dce6f2);
    margin: 0%;
}

input[type=number] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    width: 3em;
    text-align: center;
}


/* label underline focus color */

input[type=number]:focus {
    border: none;
    outline: none;
    border-bottom: 0.5px solid #aac0e8;
    box-shadow: 0 0.5px 0 0 #aac0e8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.parameterLine {
    padding: 0.5em;
}

.calc {
    width: 4em;
    height: 4em;
    padding: 0.3em;
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-image: radial-gradient(#aac0e8, #b9cde5, #dce6f2), url('/img/calculator.svg');
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    outline: none;
    border: #17375e;
}

.my-float {
    margin-top: 22px;
}


/* ------------------------------------- */

output {
    border-bottom: 1px solid #000000;
    margin: 3em 0% 3em 0%;
    color: aquamarine;
    background: transparent;
    text-align: center;
}

form {
    padding: 0.5em;
    background: #ffffff
}