body {
    font-family: sans-serif;
}

.title {
    color: #17375e;
    text-align: center;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: #aac0e8;
}

.tabContainer .tabPanel {
    border-top: 0.5em solid #dce6f2;
    height: 85%;
    color: black;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    display: none;
}

#parameters {
    padding: 10px;
}

.fov {
    padding: 10px;
    margin: 10px;
}

.natoTarget {
    margin: 10px;
    padding: 10px;
}

.humanTarget {
    margin: 10px;
    padding: 10px;
}

.objectTarget {
    margin: 10px;
    padding: 10px;
}

.settings .parameters {
    margin: 10px;
    padding: 10px;
}

.settings .linePairs {
    margin: 10px;
    padding: 10px;
}

.settings .targetSize {
    margin: 10px;
    padding: 10px;
}

.infoContainer {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background: #dce6f2;
    border: 1px solid #000000;
    border-radius: 10px;
}

.infoTitle {
    text-align: left;
    margin-bottom: 1em;
}

img {
    width: 1.2em;
    height: 1.2em;
    padding: 0.3em;
    border-radius: 50%;
    border: 1px solid #000000;
    background-image: radial-gradient(#aac0e8, #b9cde5, #dce6f2);
    margin: 0%;
}

.parameterContainer .fullBlurContainer,
.parameterContainer .halfBlurContainer {
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 29.4px;
    height: 29.4px;
    filter: blur(100);
    overflow: hidden;
}

.parameterContainer .fullBlurContainer img {
    border: 1px solid #aac0e8;
    filter: blur(2px);
}

.parameterContainer .halfBlurContainer img {
    border: 1px solid #aac0e8;
    filter: blur(1px);
}

input[type=number] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    width: 3em;
    text-align: center;
}


/* label underline focus color */

input[type=number]:focus {
    border: none;
    outline: none;
    border-bottom: 0.5px solid #aac0e8;
    box-shadow: 0 0.5px 0 0 #aac0e8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.parameterContainer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0.5em;
}

.calc {
    width: 4em;
    height: 4em;
    padding: 0.3em;
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-image: url(img/calculator.svg), radial-gradient(#aac0e8, #b9cde5, #dce6f2);
    background-repeat: no-repeat, no-repeat;
    background-size: 60%, 100%;
    background-position: center, center;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    outline: none;
    border: 1px solid #000000;
}

.save {
    width: 4em;
    height: 4em;
    padding: 0.3em;
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-image: url(img/save.svg), radial-gradient(#aac0e8, #b9cde5, #dce6f2);
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 100%;
    background-position: center, center;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    outline: none;
    border: 1px solid #000000;
}

.my-float {
    margin-top: 22px;
}

output {
    margin: 3em 0% 3em 0%;
    background: transparent;
    text-align: center;
}

form {
    padding: 0.5em;
    background: #ffffff
}

#parameters,
#linePairs,
#targetSize {
    background: #aac0e8;
}

label {
    font-weight: bold;
}

#icon {
    border: none;
    align-self: auto;
    background-image: url(img/icon.png);
    width: 32px;
    height: 32px;
    display: inline-block;
}

#iconContainer {
    align-items: center;
    background-image: url(img/icon.png);
}

.indexContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.tabNav {
    margin: 5px;
}

.tabContainer {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

#ref_calculateHFOV,
#ref_calculateFocalLength,
#ref_settings {
    height: 15%;
    width: 33.33%;
    height: 100%;
    float: left;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    background-color: #aac0e8;
    height: 85%;
    color: black;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}